IMAP_HOST=imap.chinatelecom.cn
IMAP_PORT=993
EMAIL_USERNAME=niuhao.he@chinatelecom.cn
EMAIL_PASSWORD=your_auth_code_here
IMAP_MAILBOX=INBOX
SUBJECT_EXACT=政企序列日报表
POLL_INTERVAL_SECONDS=600
DOWNLOAD_DIR=./downloads
STATE_FILE=./state/mail_state.json
WEBHOOK_SEND_URL=http://imtwo.zdxlz.com/im-external/v1/webhook/send?key=6386330066211339077
MAX_ATTACHMENT_SIZE_MB=30
